/**
 * All of the CSS for your public-facing functionality should be included in this file.
 */

#add_notification_dates h3 {
    color: #333;
}
#add_notification_dates * {
    color: #333;
    text-align: left;
}
.notification_dates-item {
    display: flex;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.notification_dates-item * {
    margin-bottom: 0;
}
.notification_dates-item input[type=checkbox] {
    display: none;
}
.notification_dates-item > span {
    position: relative;
    display: flex;
}
.notification_dates-item > span::before {
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 10px;
    left: 0;
    top: 0;
    margin-top: 6px;
}
.notification_dates-item.checked > span::after {
    background-color: #31b331;
    position: absolute;
    top: 8px;
    left: 2px;
    width: 12px;
    height: 12px;
    display: block;
    content: '';
    border-radius: 3px;
}
.notification_dates-wrapper {
    margin-bottom: 15px;
}
.input-date_with_datepicker.empty {
    border-color: red;
}
.item_added_dates {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
}
.item_added_dates .delete {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.item_added_dates .date {
    margin-right: 25px;
}
.personal_account_dates_wrapper .item {
    display: flex;
    padding: 25px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cecece;
    position: relative;
}
.personal_account_dates_wrapper .item .change-delete {
    position: absolute;
    top: 2px;
    right: 0;
    display: flex;
    align-items: center;
}
.personal_account_dates_wrapper .wp-element-button {
    margin-top: 30px;
}
.change_date_pa {
    margin-right: 10px;
    line-height: 17px;
    font-size: 15px;
}
.delete_date_pa {
    line-height: 18px;
}